body{
    background: #8f387f;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #e89fda;
}

main{
    margin: 0 auto;
    width: 1100px;
}

.sticky{
    position: sticky;
    top: 0;
}

h1{
    font-size: 3.0rem;
}

h2{
    font-size: 2.0rem;
}

.post1{
    display: flexbox;
}

.sweatpants{
    width: 750px;
    height: 600px;
}

.fastfood{
    width: 600px;
    height: 439.5px;
}

.text{
    background: #ffffff;
    padding: 10px;
}

.text2{
    background: #ffffff;
    padding: 10px;
}

.bio{
    background: #ffffff;
    padding: 5px;
}